<div class="bg-white shadow overflow-hidden sm:rounded-lg p-14">
    <div class="px-4 py-5 sm:px-6">
        <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Physiological information
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Here you can calculate your body mass index, body fat
                percentage, body bone mass, total body fat and total body
                muscle.
            </p>
        </div>
        <div class="mt-5 border-t border-gray-200">
            <dl class="divide-y divide-gray-200">

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Body mass index
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <span class="flex-grow">{{bodyMassIndex}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button type="button"
                                class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Calculate
                            </button>
                        </span>
                    </dd>
                </div>
                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Body fat percentage
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <span class="flex-grow">{{bodyFatPercentage}} %</span>
                        <span class="ml-4 flex-shrink-0">
                            <button type="button"
                                class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Calculate
                            </button>
                        </span>
                    </dd>
                </div>
                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Bone mass
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <span class="flex-grow">{{boneMass}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button type="button"
                                class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Calculate
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Total body fat weight
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <span class="flex-grow">
                            {{totalBodyFatWeight}}
                        </span>
                        <span class="ml-4 flex-shrink-0">
                            <button type="button"
                                class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Calculate
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Total muscle weight
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0
                        sm:col-span-2">
                        <span class="flex-grow">
                            {{totalMuscleWeight}}
                        </span>
                        <span class="ml-4 flex-shrink-0">
                            <button type="button"
                                class="bg-white rounded-md font-medium
                                text-indigo-600 hover:text-indigo-500
                                focus:outline-none focus:ring-2
                                focus:ring-offset-2 focus:ring-indigo-500">
                                Calculate
                            </button>
                        </span>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>