<div class="bg-white shadow overflow-hidden sm:rounded-lg p-14">
    <div class="px-4 py-5 sm:px-6">
        <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Settings
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                This is your personal information
            </p>
        </div>
        <div class="mt-5 border-t border-gray-200">
            <dl class="divide-y divide-gray-200">
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Name
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{name}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-1" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Surname
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{surname}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-2" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>
                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Age
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{age}} years old</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Gender
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{gender}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Height
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{height}} cm</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Weight
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{weight}} kg</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Email
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{Email}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Phone
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{phone}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Password
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{Password}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Profile picture
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{img}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>

                <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                        Profile header
                    </dt>
                    <dd class="mt-1 flex text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span class="flex-grow">{{imgHeader}}</span>
                        <span class="ml-4 flex-shrink-0">
                            <button id="edit-3" type="button"
                                class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Edit
                            </button>
                        </span>
                    </dd>
                </div>
               
            </dl>
        </div>
    </div>
</div>